@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Poppins:wght@700&display=swap');

//font-family
$fuente:'Comfortaa', cursive;

//font-size
$s-size:1rem;
$m-size:1.6rem;
$l-size:3.8rem;